# Copyright (c) 2026 xregistry-dotnet contributors.
# SPDX-License-Identifier: MIT

**/bin/
**/obj/
artifacts/
TestResults/
.vs/
.idea/
*.user
*.suo
__pycache__/
.pytest_cache/
*.pyc
*.tmp
**/packages.lock.json
**/*.packages.lock.json
report.*.json
